.tagSection{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.tags{
  cursor: pointer;
  margin-right: 10px;
  border: 2px solid transparent;
  background-color: #FF6060;
  border-radius: 10px;
  padding-right: 15px;
  padding-left: 15px;
  height: 25px;
  color: #FFFF;
  text-align: center;
  font-weight: 500;
}