/*Commons*/
@media screen and (max-width: 375px){
  header{
    height: auto;
    margin-bottom: 20px;
  }
  .logo-header{
    margin: 20px 50px 0 20px;
    width: 145px;
    height: 47px;
  }
  .navbar-header{
    margin: 35px 10px 0 0;
    font-size: 12px;
  }
  .navbar-header a{
    text-transform: uppercase;
    margin: 0 10px 0 0;
  }
  
}
/*HomePage*/
@media screen and (max-width: 375px){
  .banner{
    max-width: 335px;
    max-height: 111px;
    margin: 0;
    margin: 20px 20px 0px 20px;
  }
  .banner-title{
    font-size: 24px;
    width: 220px;
  }
  .home-main{
    background-color: #FFFFFF;
    padding: 20px 20px 230px 20px ;
    gap: 20px;
  }
  .housing-img img{
    width: 100%;
    height: 255px
  }
  .housing-card{
    max-height: 255px;
  }
}
/*HousingPage*/
@media screen and (max-width: 375px){
  .filter{
    width: 42px;
  }
  .precedent{
    left: 15px
  }
  .suivant{
    right: 15px;
  }
  .carrousel{
    width: 20px;
    height: 20px;
    border-top: 3px solid white;
    border-right: 3px solid white;
  }
  .HousingBanner{
    max-width: 355px;
    max-height: 255px;
  }
  .housing-main{
    padding-bottom: 230px;
  }
  .housing-main h2 {
    font-size: 18px;
  }
  .localisation{
    font-size: 14px;
  }
  .tags{
    display: flex;
    font-size: 10px;
    height: 17px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .person-stars{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .person-stars span{
    font-size: 12px;
    line-height: 15px;
  }
  .simuPhoto{
    margin-top: 3px;
    width: 32px;
    height: 32px;
  }
  .housing-presentation{
    padding: 0 20px;
    flex-direction: column;
  }
  .housing-stars{
    width: fit-content;
    margin: 0 0 20px 0;
  }
  .stars{
    width: 15px;
  }
  .dropdown-container{
    max-width: 335px;
    display: flex;
    flex-direction: column;
  }

  .dd-container{
    margin: 0px 20px 20px;
  }
  .dropdown{
    font-size: 13px;
    width: 335px;
    height: 30px;
    padding: 7px;
    border-radius: 5px;
  }
  .dropdownSquare{
    width: 13px;
    height: 13px;
    border-top: 2px solid White;
    border-right: 2px solid White;
    margin-top: 5px;
  }
  .dropdown-activated{
    margin-top: 0px;
  }
  .dd-container ul{
    width: 335px;
    font-size: 12px;
  }
  .text-dropdown{
    width: 335px;
    font-size: 12px;
  }
  .profilePhoto-name{
    width: auto;
    margin-top: 10px;
  }
}
/*AboutPage*/
@media screen and (max-width: 375px){
  .banner-about-responsive {
    max-width: 335px;
    max-height: 223px;
    margin: 0;
    margin: 20px;
  }
}
/*404 Page*/
@media screen and (max-width: 375px){
  .Error-title {
    margin: 75px;
    font-size: 96px;
  }
  .Error-message {
    width: fit-content;
    font-size: 18px;
    margin: -60px auto 25px ;
    text-align: center;
  }
  .Error-link{
    font-size: 14px;
  }
  .error-main {
    padding-bottom: 230px;
  }
}