/* housing main*/
.housing-main{
  padding-bottom: 340px;
  max-width: 1240px;
  margin: auto;
}

.housing-main h2{
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.localisation{
  font-size: 18px;
  color: #FF6060;
}

.tagSection{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.tags{
  cursor: pointer;
  margin-right: 10px;
  border: 2px solid transparent;
  background-color: #FF6060;
  border-radius: 10px;
  padding-right: 15px;
  padding-left: 15px;
  height: 25px;
  color: #FFFF;
  text-align: center;
  font-weight: 500;
}

.housing-presentation{
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}



.simuPhoto{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #C4C4C4;
}
.profilePhoto-name{
  display: flex;
  justify-content: space-between;
  width: 155px;
}

.profilePhoto-name span {
  font-size: 18px;
  line-height: 25px;
  padding-top: 5px;
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
  color: #FF6060;
}

.housing-stars{
  padding-top: 18px;
}

ul{
  list-style: none;
  background-color: #F6F6F6;
  color: #FF6060;
  font-weight: 400;
  width: 582px;
  margin: -5px auto;
  padding: 25px 15px;
  border-radius: 0 0 10px 10px;
  line-height: 25.67px
}