footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 209px;
  color: #ffff;
}

.copyright{
  margin-top: 35px;
  color: #ffff;
}

.logo-footer{
  color: #ffff;
}