.about-main{
  background-color: #F6F6F6;
  box-sizing: border-box;
  border-radius: 25px 25px 0 0;
  padding: 55px 55px 340px 55px;
  max-width: 1240px;
  margin: auto;
}

.about-main .dd-container{
  max-width: 1024px;
  margin: auto;
}

.about-main .dropdown{
  width: 100%;
  margin-bottom: 20px;
}

.about-main{
  background-color: #FFFFFF;
  padding-top: 0;
}

.about-main .text-dropdown{
  width: 100%;
  margin-top: -30px;
  margin-bottom: 20px;
}